.ctn_d_1 {
  margin-top: 1rem;
}

.ctn_d_2 {
  margin-left: 1rem;
  margin-top: 0.4rem;
}

.btn_delete {
  width: 80px;
  height: 35px;
  border-radius: 2px;
  background-color: #087bed;
  color: #f4f4f4;
  border:none;
  outline:none;
}

.btn_cancel {
  width: 80px;
  height: 35px;
  border-radius: 2px;
  background-color: #e2543a;
  color: #fafafa;
  margin-left: 1rem;
  border: none;
  outline: none;
}
button:active{
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.delete_options {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5rem;
}
