<contacts-app-header></contacts-app-header>
<div class="view_contacts_container">
  <div class="contact_list_header">
    <div class="check_box_container header_items">
      <input
        type="checkbox"
        class="checkBox"
        name=""
        id=""
        (change)="onHeaderChecked()"
        [checked]="default_checked_value_header"
      />
      <i class="far fa-trash-alt delete_icon header_icon"></i>

    </div>
    <div class="contact_name_header_container header_items">
      <p>Name</p>
    </div>
    <div class="contact_email_header_container header_items">
      <p>E-mail</p>
    </div>
    <div class="contact_number_header_container header_items">
      <p>Phone Number</p>
    </div>
    <div class="action_header_container header_items">
      <p>Actions</p>
    </div>
  </div>
  <div class="contacts_container">
    <div class="contacts" *ngFor="let contact of contacts">
      <div class="check_box_list_container list_items">
        <input
          type="checkbox"
          class="checkBox"
          name=""
          id=""
          (change)="onHeaderChecked()"
          [checked]="default_checked_value_header"
        />
      </div>
      <div class="contact_name_container list_items">
        <p>{{contact.name | titlecase}}</p>
      </div>
      <div class="contact_email_container list_items">
        <p>{{contact.email}}</p>
      </div>
      <div class="contact_number_container list_items">
        <p>{{contact.number}}</p>
      </div>
      <div class="action_contact_container list_items">
        <i class="far fa-trash-alt delete_icon"></i>
        <i class="far fa-eye eye_icon"></i>
      </div>
    </div>
  </div>
</div>
