<div mat-mat-dialog-content class="common_dialog">
  <div class="header">{{title}}</div>
    <div class="button_container">
        <button
        *ngIf="confirm"
        (click)="onClick()"
        class="btn_delete pointer"
      >
        <span> {{confirm}} </span>
      </button>
      <button
      *ngIf="cancel"
      [mat-dialog-close]="onDialogYes"
      (click)="onNoClick()"
      class="button_cancel pointer"
    >
      <span> {{cancel}} </span>
    </button>
    </div>
    <ng-content></ng-content>
</div>